/*
* Homepage SCSS
*/
.section-1 {
  background: url(../img/food.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.section-1 .white-overlay {
  width: 90%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 40em) {
  .section-1 .white-overlay {
    height: 100px;
  }
}

.section-1 img.kichin-logo {
  display: block;
  margin: auto;
  position: relative;
  top: -80px;
}

.section-1 div#coming-soon {
  background-color: rgba(0, 0, 0, 0.7);
  width: 70%;
  height: 90px;
  margin: auto;
  text-align: center;
}

.section-1 div#coming-soon p {
  color: yellow;
  font-size: 1.5rem;
}
