.section-1 {
  background: url(../img/food.jpg) no-repeat 50% 50%;
  background-size: cover;
  z-index: 0;
  height: $logo-unit-sm*2;

  .section-1-inner { 
    position: relative;
    height: 100%;
  }

  .white-overlay {
    @media #{ $small-only } {
      height: $logo-unit-sm;
      width: 80%;
      margin: auto;
    }
    @media #{ $medium-only} {
      height: $logo-unit-md;
      width: 40%;
      margin-left: 8%;
    }
    @media #{ $large-up} {
      height: $logo-unit-lg;
      width: 30%;
      margin-left: 15%;
    }
    background-color: rgba(255,255,255,0.6);
  }

  img.kichin-logo {
    display: block;
    margin: auto;
    position: relative;
    @media #{ $small-only } {
      height: $logo-unit-sm/1.5;
    }
    @media #{ $medium-only } {
      height: $logo-unit-md/1.5;
      margin-top: 15px;
    }
    @media #{ $large-only } {
      height: $logo-unit-lg/1.5;
      margin-top: 15px;
    }
  }

  div#coming-soon{
    z-index: 1;
    background-color: #272727;
    bottom: 0;

    // Center it
    @media #{ $small-only } {
      width: 70%;
      text-align: center;
      height: 45px;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
    }
    @media #{ $medium-up } {
      height: 75px;
      width: 60%;
      margin-left: auto;
      margin-right: 8%;
      margin-top: 6%;
      text-align: right;
      padding-right: 15px;
      transform: rotate(-10deg);
      right: 15px;
    }
    @media #{ $large-up} {
      height: 75px;
      width: 60%;
      margin-left: auto;
      margin-right: 8%;
      margin-top: 3%;
      text-align: right;
      padding-right: 15px;
      transform: rotate(-10deg);
      right: 15px;
    }
    @media #{ $xlarge-up} {
      width: 20%;
      text-align: center;
      height: 45px;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      margin-top: 40px;
      transform: none;
    }
    //text
    .coming-soon-text{
      position: relative;
      @media #{ $medium-only} {
        bottom: 48%;
      }
      @media #{ $large-only} {
        bottom: 57%;
      }
      @media #{ $xlarge-up } {
        transform: none;
        bottom: 0%;
      }

      h3{
        font-family: $body-font;
        color: white;
        font-weight: bold;
        font-size: 1.8rem;
        @media #{ $medium-up } {
          transform: rotate(10deg);
        }
        @media #{ $xlarge-up } {
          transform: none;
        }
      }
    }
  }
} // END OF SECTION 1