@import "media-query-ranges";

/*
* Homepage SCSS
*/

.section {
  @media #{$small-only} {
    min-height: 400px; 
    height: 400px; 
  }
  @media #{$medium-up} {
    min-height: 700px; 
  }
}

.section-1 {
  background: url(../img/food.jpg) no-repeat 50% 50%;
  background-size: cover;

  div.white-overlay {
    width: 90%;
    height: 400px;
    background-color: rgba(255,255,255,0.8);
  }
  img#kichin-logo{
    @media #{ $small-only } {
      margin: auto;
      width: 80%;
    }
  }
}

div#coming-soon{
  background-color: blue;
  p {
    color: yellow;
    display: inline-block;
    text-align: center;
  }
}

/*
* Page-Wide Junk
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @media #{$medium-up} {
  }
  @media #{$large-up} {
  }
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}
