@import "media-query-ranges";

/*
* Homepage SCSS
*/

// colors
$dark-red: #5E0500;
$light-red: #EF4136;
$white: #fff;

// sizes
$logo-unit-sm: 140px;
$logo-unit-md: 170px;
$logo-unit-lg: 200px;
$padding-size: 15px;

// fonts
$body-font: 'brandon-grotesque';
$footer-font: 'brandon-grotesque';
$wantupdates-font:'futura-pt-condensed';

// utility classes
.f-n {
  float: none !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: 100% !important;
}

.columns {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.section {
  min-height: $logo-unit-sm*2;
}


// import the rest

@import "section-one", 
        "section-two",
        "section-three",
        "section-four",
        "temp";